<!-- 
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
          </p>
        <a href="index.html" class="btn btn-primary">Volver al  Home</a>
    </div>
</div> -->

<div class="bg-light text-center pt-5" style="height: 100vh;">
    <div class="container">
      <h1 class="display-1 pt-5 font-weight-bold">404</h1>
      <h1 class="display-4 pt-1 pb-3">Page not found</h1>
      <h3 class="font-weight-light text-secondary">The page you are looking for might have <br> been removed</h3>
      <a href="#" class="btn btn-dark mt-3 pt-3 pb-3 pr-4 pl-4">Volver al  inicio</a>
    </div>